received_data/receive.dat
transmitted_data/padded_sweep_signal.npy
transmitted_data/sweep_signal.npy
transmitted_data/transmit.dat
transmitted_data/bits.npy
transmitted_data/original_OFDM_pulse.npy
transmitted_data/padded_OFDM_pulse.npy